@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
body {
  background: linear-gradient(to right, white 50%, rgb(255, 220, 125) 50%);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  margin: 20px;
  padding: 25px;
  gap: 450px;
}
.Option li {
  display: inline;
}
.Option a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.Option a:hover {
  color: rgb(245, 230, 95);
}
.Icon li {
  display: inline;
}
.Icon a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.Icon a:hover {
  color: azure;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  margin: 25px;
}
.details h1 {
  font-size: 35px;
  padding: 25px;
}
.details p {
  font-size: large;
  padding: 25px;
  color: gray;
}
span {
  font-size: large;
  font-weight: 800;
  color: black;
}
.details button {
  padding: 25px;
  margin: 25px;
  color: black;
}
.bty-buy {
  background-color: rgb(245, 230, 95);
}
.pic img {
  height: 450px;
  width: 450px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 25px;
  gap: 255px;
}
.Social-links li {
  display: inline;
}
.Social-links a {
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.Social-links a:hover {
  color: wheat;
}

.left {
  background-color: transparent;
  color: black;
  height: 50px;
  width: 73px;
}
.right {
  background-color: transparent;
  color: black;
  height: 50px;
  width: 73px;
}
.card button {
  height: 55px;
  width: 105px;
  background-color: rgb(247, 213, 66);
}
